{
  "digitalocean-apitoken": "",
  "digitalocean-region": "nyc1",
  "extra-ports": "80,443",
  "ssh-port": "22",
  "vm-mem": "512mb",
  "vm-name": "curtisshoward.com",
  "vm-password": "",
  "vm-publickey": "",
  "vm-swap": "1024M",
  "vm-user-fullname": "",
  "vm-username": ""
}
