{
  "datastore-cache-directory": "iso",
  "datastore-cache-name": "backup01",
  "datastore-name": "vm01",
  "disk-size": "80000",
  "esxi-host": "",
  "esxi-password": "",
  "esxi-port": "",
  "esxi-username": "",
  "extra-ports": "",
  "extra-ports-udp": "",
  "git-email": "opensource@handcraftedbits.com",
  "git-name": "HandcraftedBits",
  "github-id": "handcraftedbits",
  "github-key-passphrase": "",
  "ssh-port": "22",
  "vm-cpus": "2",
  "vm-mem": "8192",
  "vm-name": "dev.howard.estate",
  "vm-network": "VM Network",
  "vm-password": "",
  "vm-password-raw": "",
  "vm-publickey": "",
  "vm-swap": "",
  "vm-user-fullname": "",
  "vm-username": ""
}
